<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="css/main.css" />
    <link
      rel="stylesheet"
      href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.1.1/css/all.min.css"
      integrity="sha512-KfkfwYDsLkIlwQp6LFnl8zNdLGxu9YAA1QvwINks4PhcElQSvqcyVLLD9aMhXd13uQjoXtEKNosOWaZqXgel0g=="
      crossorigin="anonymous"
      referrerpolicy="no-referrer"
    />
    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link
      href="https://fonts.googleapis.com/css2?family=Jost:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Montserrat:ital,wght@0,400;1,200&family=Mulish:ital,wght@0,200;0,300;0,400;0,500;0,600;0,700;0,800;1,200;1,300&family=Nunito+Sans:ital,wght@0,200;0,300;0,400;0,600;0,700;1,200;1,300;1,400;1,600;1,700;1,800&family=Smooch&display=swap"
      rel="stylesheet"
    />
    <title>furniture contact</title>
  </head>
</html>
<body>
  <header id="contact__header">
    <nav id="nav__top">
      <h1 class="pi">Pİ</h1>
      <ul class="navbar">
        <li class="navbar__item">
          <a class="navbar__item--link" href="/">Ev</a>
        </li>
        <li class="navbar__item">
          <a class="navbar__item--link" href="about">Haqqimizda</a>
        </li>
        <li class="navbar__item catalog__item">
          <a class="navbar__item--link" href="#">Kataloq</a>
          <ul class="catalog__dropdown catalog__dropdown--contact">
            <li><a class="navbar__item--link" href="">yataq</a></li>
            <hr />
            <li><a class="navbar__item--link" href="">divan</a></li>
            <hr />
            <li><a class="navbar__item--link" href="">kreslo</a></li>
            <hr />
            <li><a class="navbar__item--link" href="">bufik</a></li>
            <hr />
            <li><a class="navbar__item--link" href="">usaq mebelleri</a></li>
            <hr />
            <li><a class="navbar__item--link" href="">ofis mebelleri</a></li>
            <hr />
            <li><a class="navbar__item--link" href="">digerleri</a></li>
            <hr />
          </ul>
        </li>
        <li class="navbar__item">
          <a class="navbar__item--link" href="contact">Contact</a>
        </li>
      </ul>
    </nav>
  </header>
  <!-- catalog  -->
  <section id="catalog">
    <aside id="catalog__sidebar">
      <div id="catalog__sidebar--box">
        <h1 id="catalog__sidebar--title">Çeşidlər</h1>
        <ul id="catalog__list">
          <li class="catalog__item">
            <a class="catalog__item--link" href="">butun mebeller</a>
            <span class="catalog__item--count">(22)</span>
          </li>
          <hr />
          <li class="catalog__item">
            <a class="catalog__item--link" href="">carpayilar</a>
            <span class="catalog__item--count">(22)</span>
          </li>
          <hr />
          <li class="catalog__item">
            <a class="catalog__item--link" href="">divanlar</a>
            <span class="catalog__item--count">(22)</span>
          </li>
          <hr />
          <li class="catalog__item">
            <a class="catalog__item--link" href="">kreslolar</a>
            <span class="catalog__item--count">(22)</span>
          </li>
          <hr />
          <li class="catalog__item">
            <a class="catalog__item--link" href="">usaq mebelleri</a>
            <span class="catalog__item--count">(22)</span>
          </li>
          <hr />
          <li class="catalog__item">
            <a class="catalog__item--link" href="">ofis mebelleri</a>
            <span class="catalog__item--count">(22)</span>
          </li>
          <hr />
          <li class="catalog__item">
            <a class="catalog__item--link" href="">qapilar</a>
            <span class="catalog__item--count">(22)</span>
          </li>
          <hr />
          <li class="catalog__item">
            <a class="catalog__item--link" href="">digerleri </a>
            <span class="catalog__item--count">(22)</span>
          </li>
          <hr />
        </ul>
      </div>
    </aside>
    <div id="catalog__gallery">
      <h1 id="catalog__gallery--title">Butun Mebeller</h1>
      <ul id="catalog__gallery--grid">
        <li>
          <img src="./img/living-room-furniture-0.jpg" alt="" />
          <a href="product" class="catalog__gallery--hover">
            <i class="far fa-eye"></i>
          </a>
        </li>
        <li>
          <img src="./img/living-room-furniture-0.jpg" alt="" />
          <a href="product" class="catalog__gallery--hover">
            <i class="far fa-eye"></i>
          </a>
        </li>
      </ul>
    </div>
  </section>

  <!-- instagram -->
  <section id="instagram">
    <h2><a href="">pi_mebel</a><br /></h2>
    <a href=""><i class="fab fa-instagram"></i></a>
  </section>
  <!-- footer  -->
  <footer>
    <div class="logo">
      <img src="./img/Asset 2@2x-100.jpg" alt="" />
    </div>
    <nav id="nav__footer">
      <ul>
        <h1 class="footer__title">Haqqimizda</h1>
        <hr />
        <li>Musteri xidmeti</li>
        <li>Zemanet</li>
        <li>catdirilma</li>
        <li>odenis</li>
        <li>elaqeler</li>
      </ul>
      <ul>
        <h1 class="footer__title">Kataloq</h1>
        <hr />
        <li><a class="navbar__item--link" href="">yataq</a></li>
        <li><a class="navbar__item--link" href="">divan</a></li>
        <li><a class="navbar__item--link" href="">kreslo</a></li>
        <li><a class="navbar__item--link" href="">bufik</a></li>
        <li><a class="navbar__item--link" href="">usaq mebelleri</a></li>
        <li><a class="navbar__item--link" href="">ofis mebelleri</a></li>
        <li><a class="navbar__item--link" href="">digerleri</a></li>
      </ul>
      <ul class="contact">
        <h1 class="footer__title">elaqe</h1>
        <hr />
        <li><i class="fas fa-phone"></i> 050 868 11 00</li>
        <li><i class="fas fa-phone"></i> 051 947 07 14</li>
        <li class="flex-between">
          <i class="fas fa-at"></i> <a href="">pifurnitre@gmail.com</a>
        </li>
      </ul>
      <ul class="sosial">
        <h1 class="footer__title">Sosial</h1>
        <hr />
        <ul>
          <li>
            <a href="">
              <i class="fab fa-facebook"></i>
            </a>
          </li>
          <li>
            <a href=""><i class="fab fa-instagram"></i></a>
          </li>
          <li>
            <a href=""><i class="fab fa-twitter"></i></a>
          </li>
          <li>
            <a href=""><i class="fab fa-youtube"></i></a>
          </li>
          <li>
            <a href=""><i class="fab fa-whatsapp"></i></a>
          </li>
        </ul>
      </ul>
    </nav>
  </footer>
  <script src="index.js"></script>
</body>
