<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="css/main.css" />
    <link
      rel="stylesheet"
      href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.1.1/css/all.min.css"
      integrity="sha512-KfkfwYDsLkIlwQp6LFnl8zNdLGxu9YAA1QvwINks4PhcElQSvqcyVLLD9aMhXd13uQjoXtEKNosOWaZqXgel0g=="
      crossorigin="anonymous"
      referrerpolicy="no-referrer"
    />
    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link
      href="https://fonts.googleapis.com/css2?family=Jost:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Montserrat:ital,wght@0,400;1,200&family=Mulish:ital,wght@0,200;0,300;0,400;0,500;0,600;0,700;0,800;1,200;1,300&family=Nunito+Sans:ital,wght@0,200;0,300;0,400;0,600;0,700;1,200;1,300;1,400;1,600;1,700;1,800&family=Smooch&display=swap"
      rel="stylesheet"
    />
    <title>furniture</title>
  </head>
  <body>
    <!-- <div class="big__img">
      <div class="big__img--box">
        <img src="./img/modern-contemporary-bedroom-furniture.jpg" alt="" />
      </div>
    </div> -->
    <!-- header -->
    <header id="index__header">
      <nav id="nav__top">
        <h1 class="pi">Pİ</h1>
        <ul class="navbar">
          <li class="navbar__item">
            <a class="navbar__item--link" href="/">Ev</a>
          </li>
          <li class="navbar__item">
            <a class="navbar__item--link" href="about">Haqqimizda</a>
          </li>
          <li class="navbar__item catalog__item">
            <a class="navbar__item--link" href="catalog">Kataloq</a>
            <ul class="catalog__dropdown catalog__dropdown--home">
              <li><a class="navbar__item--link" href="">yataq</a></li>
              <hr />
              <li><a class="navbar__item--link" href="">divan</a></li>
              <hr />
              <li><a class="navbar__item--link" href="">kreslo</a></li>
              <hr />
              <li><a class="navbar__item--link" href="">bufik</a></li>
              <hr />
              <li><a class="navbar__item--link" href="">usaq mebelleri</a></li>
              <hr />
              <li><a class="navbar__item--link" href="">ofis mebelleri</a></li>
              <hr />
              <li><a class="navbar__item--link" href="">digerleri</a></li>
              <hr />
            </ul>
          </li>
          <li class="navbar__item">
            <a class="navbar__item--link" href="contact">Contact</a>
          </li>
        </ul>
        <!-- mobil navbar -->
        <button class="navbar__icon"><i class="fab fa-whatsapp"></i></button>
        <ul class="mobil__navbar">
          <li class="mobil__navbar--item">
            <a class="mobil__navbar--link" href="">Ev</a>
          </li>
          <hr />
          <li class="mobil__navbar--item">
            <a class="mobil__navbar--link" href="">Haqqimizda</a>
          </li>
          <hr />
          <li class="mobil__navbar--item">
            <a class="mobil__navbar--link" href="">Kataloq</a>
            <ul class="mobil__catalog--dropdown">
              <hr />
              <li class="mobil__catalog--item">
                <a class="mobil__catalog--link" href="">yataq</a>
              </li>
              <hr />
              <li class="mobil__catalog--item">
                <a class="mobil__catalog--link" href="">divan</a>
              </li>
              <hr />
              <li class="mobil__catalog--item">
                <a class="mobil__catalog--link" href="">kreslo</a>
              </li>
              <hr />
              <li class="mobil__catalog--item">
                <a class="mobil__catalog--link" href="">bufik</a>
              </li>
              <hr />
              <li class="mobil__catalog--item">
                <a class="mobil__catalog--link" href="">usaq mebelleri</a>
              </li>
              <hr />
              <li class="mobil__catalog--item">
                <a class="mobil__catalog--link" href="">ofis mebelleri</a>
              </li>
              <hr />
              <li class="mobil__catalog--item">
                <a class="mobil__catalog--link" href="">digerleri</a>
              </li>
              <hr />
            </ul>
          </li>
          <hr />
          <li class="mobil__navbar--item">
            <a class="mobil__navbar--link" href="">Contact</a>
          </li>
          <hr />
        </ul>
      </nav>
    </header>

    <!-- back image -->
    <section id="bcimg">
      <div id="bcimg__box">
        <h1 class="pi__funiture">Pİ FURNİTURE</h1>
      </div>
    </section>
    <!-- new models slider -->
    <section id="new__models">
      <h1 class="new__title">Yeni Model</h1>
      <div class="models">
        <div class="models__img--box">
          <img
            class="models__img"
            src="./img/living-room-furniture-0.jpg"
            alt=""
          />
        </div>
        <div class="models__about">
          <p class="models__about--info">
            Lorem ipsum dolor sit amet, consectetur adipisicing elit. Maxime,
            nesciunt! Velit fugit delectus eveniet error quas corporis
            consectetur accusamus labore?
          </p>
        </div>
      </div>
    </section>

    <!-- gallery -->
    <section id="gallery">
      <h1 id="gallery__title">Butun Mebeller</h1>
      <ul id="gallery__grid">
        <li>
          <img src="./img/living-room-furniture-0.jpg" alt="" />
          <div class="hover__box">
            <a href="product.html"><i class="far fa-eye"></i></a>
            <i class="fas fa-expand"></i>
          </div>
        </li>
        <li>
          <img
            src="./img/maddox-new-sofa-3-seater-in-indigo-blue-colour-by-evok-maddox-new-sofa-3-seater-in-indigo-blue-colou-x0njzz.png"
            alt=""
          />
        </li>
        <li>
          <img src="./img/modern-contemporary-bedroom-furniture.jpg" alt="" />
        </li>
        <li>
          <img src="./img/parco-cover.jpg" alt="" />
        </li>
        <li>
          <img src="./img/nathan-oakley-q2xKzfyg83w-unsplash.jpg" alt="" />
        </li>
        <li>
          <img src="./img/living-room-furniture-0.jpg" alt="" />
        </li>
        <li>
          <img src="./img/living-room-furniture-0.jpg" alt="" />
        </li>
        <li>
          <img src="./img/living-room-furniture-0.jpg" alt="" />
        </li>
      </ul>
      <nav id="gallery__plus">
        <button class="button__plus">daha cox goster</button>
      </nav>
    </section>
    <section id="child">
      <h1 id="child__title">Usaq Mebelleri</h1>
      <div id="child__slider">
        <ul class="child__slides">
          <li class="child__slide">
            <img src="./img/living-room-furniture-0.jpg" alt="" />
          </li>
          <li class="child__slide">
            <img src="./img/parco-cover.jpg" alt="" />
          </li>
          <li class="child__slide">
            <img src="./img/living-room-furniture-0.jpg" alt="" />
          </li>
        </ul>
      </div>
      <div class="child__angle">
        <button class="child__angle--left">
          <i class="fas fa-angle-left"></i>
        </button>
        <button class="child__angle--right">
          <i class="fas fa-angle-right"></i>
        </button>
      </div>
    </section>
    <!-- instagram -->
    <section id="instagram">
      <h2><a href="">pi_mebel</a><br /></h2>
      <a href=""><i class="fab fa-instagram"></i></a>
    </section>

    <!-- footer  -->
    <footer>
      <div class="logo">
        <img src="./img/Asset 2@2x-100.jpg" alt="" />
      </div>
      <nav id="nav__footer">
        <ul>
          <h1 class="footer__title">Haqqimizda</h1>
          <hr />
          <li>Musteri xidmeti</li>
          <li>Zemanet</li>
          <li>catdirilma</li>
          <li>odenis</li>
          <li>elaqeler</li>
        </ul>
        <ul>
          <h1 class="footer__title">Kataloq</h1>
          <hr />
          <li><a class="navbar__item--link" href="">yataq</a></li>
          <li><a class="navbar__item--link" href="">divan</a></li>
          <li><a class="navbar__item--link" href="">kreslo</a></li>
          <li><a class="navbar__item--link" href="">bufik</a></li>
          <li><a class="navbar__item--link" href="">usaq mebelleri</a></li>
          <li><a class="navbar__item--link" href="">ofis mebelleri</a></li>
          <li><a class="navbar__item--link" href="">digerleri</a></li>
        </ul>
        <ul class="contact">
          <h1 class="footer__title">elaqe</h1>
          <hr />
          <li><i class="fas fa-phone"></i> 050 868 11 00</li>
          <li><i class="fas fa-phone"></i> 051 947 07 14</li>
          <li class="flex-between">
            <i class="fas fa-at"></i> <a href="">pifurnitre@gmail.com</a>
          </li>
        </ul>
        <ul class="sosial">
          <h1 class="footer__title">Sosial</h1>
          <hr />
          <ul>
            <li>
              <a href="">
                <i class="fab fa-facebook"></i>
              </a>
            </li>
            <li>
              <a href=""><i class="fab fa-instagram"></i></a>
            </li>
            <li>
              <a href=""><i class="fab fa-twitter"></i></a>
            </li>
            <li>
              <a href=""><i class="fab fa-youtube"></i></a>
            </li>
            <li>
              <a href=""><i class="fab fa-whatsapp"></i></a>
            </li>
          </ul>
        </ul>
      </nav>
    </footer>
    <script src="index.js"></script>
    <script src="gallery.js"></script>
  </body>
</html>
